h1{
	color: cadetblue;
}

p{	

	&.alertMessage{
		font-size: 30px;
		color:purple;
		&:hover{
			transform: scale(1.5);
		}
	}
}

ul{
	list-style-type: none;
	li{
		font-size: 25px;
		padding: 10px;
		color: cadetblue;
		&:hover{
			color:orange;
			text-decoration: line-through;
		}
		.content{
			&:hover{
				cursor: pointer;
			}
		}

	}
}